<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="\static\scoreBoard.js"></script>
    <title>Score Board</title>
</head>
<body>
<p1>Best Scores</p1>
<button onclick="initRecords();">Display</button>
<table>
        <tr>
            <td>No.1</td><td><input id="1st"></td>
        </tr>
        <tr>
            <td>No.2</td><td><input id="2nd"></td>
        </tr>
        <tr>
            <td>No.3</td><td><input id="3rd"></td>
        </tr>
        <tr>
            <td>No.4</td><td><input id="4th"></td>
        </tr>
        <tr>
            <td>No.5</td><td><input id="5th"></td>
        </tr>
    </table>

</body>
</html>